{{define "main"}}
{{if eq .RelPermalink "/categories/"}}
<!--
<div class="category">
	<a href="/category/beauty" class="item">
		<span class="title">Beauty</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/beauty.png" alt="">
	</a>
	<a href="/category/st.-lawrence-market" class="item">
		<span class="title">St. Lawrence Market</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/st.-lawrence-market.png" alt="">
	</a>
	<a href="/category/restaurants" class="item">
		<span class="title">Restaurants</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/restaurants.png" alt="">
	</a>
	<a href="/category/retail" class="item">
		<span class="title">Retail</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/retail.png" alt="">
	</a>
	<a href="/category/service" class="item">
		<span class="title">Service</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/service.png" alt="">
	</a>
	<a href="/category/fitness" class="item">
		<span class="title">Fitness</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/fitness.png" alt="">
	</a>
	<a href="/category/health" class="item">
		<span class="title">Health</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/health.png" alt="">
	</a>
	<a href="/category/service" class="item">
		<span class="title">Service</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/service.png" alt="">
	</a>
	<a href="/category/health" class="item">
		<span class="title">Health</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/health.png" alt="">
	</a>
	<a href="/category/coffee-shops" class="item">
		<span class="title">Coffee Shops</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/coffee-shops.png" alt="">
	</a>
	<a href="/category/restaurants" class="item">
		<span class="title">Restaurants</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/restaurants.png" alt="">
	</a>
	<a href="/category/grocery---convenience-store" class="item">
		<span class="title">Grocery / Convenience Store</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/grocery---convenience-store.png" alt="">
	</a>
	<a href="/category/art-theatre" class="item">
		<span class="title">Art/Theatre</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/art-theatre.png" alt="">
	</a>
	<a href="/category/retail" class="item">
		<span class="title">Retail</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/retail.png" alt="">
	</a>
	<a href="/category/st.-lawrence-market" class="item">
		<span class="title">St. Lawrence Market</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/st.-lawrence-market.png" alt="">
	</a>
	<a href="/category/general" class="item">
		<span class="title">General</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/general.png" alt="">
	</a>
	<a href="/category/hotels---accomodation" class="item">
		<span class="title">Hotels / Accomodation</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/hotels---accomodation.png" alt="">
	</a>
	<a href="/category/historical-landmarks" class="item">
		<span class="title">Historical Landmarks</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/historical-landmarks.png" alt="">
	</a>
	<a href="/category/education" class="item">
		<span class="title">Education</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/education.png" alt="">
	</a>
	<a href="/category/hotels---accomodation" class="item">
		<span class="title">Hotels / Accomodation</span>
		<span class="link" href="#">View posts</span>
		<img class="img" src="/images/hotels---accomodation.png" alt="">
	</a>
</div>
-->


<div class="category-sort">
  <h2>Browse all categories:</h2>
{{range $.Site.Taxonomies.categories.ByCount }}
<a href="/categories/{{.Name}}" class="category-list-item">
  # {{ .Name}}<small>({{.Count}})</small>
</a>

{{end}}
</div>
{{else}}
<div class="list">

  
  {{range .Paginator.Pages}}
  <div class="listItem"><img src={{ .Params.image}} alt={{ .Title}} class="listItemImage" loading="lazy"/>
  <div class="listItemText">
    <h1 class="listItemTitle">
    <a href={{.Permalink}}>{{.Title}}</a>
  </h1>
  <p class="listItemDesc">{{ .Params.description}}</p>
  <div class="listItemDetail">
    <img src={{.Params.avatar}} loading="lazy" alt="" class="listItemAvatar">
    <span>{{ range ( .GetTerms "authors")}}
        <a href={{.Permalink}}>{{.Name}}</a>
      {{end}}</span>
    <time>{{dateFormat .Site.Params.dateFormat .Date}}</time>
  </div>
  <div class="listItemCategories">
    {{ range (.GetTerms "categories") }}
    <a href={{ .Permalink}} class="listItemCategory">{{ .Name }}</a>
    {{end}}
  </div>
</div>
</div>
  {{end}}
   {{template "_internal/pagination.html" .}}
</div>
{{end}}
{{end}}