{{define "main"}}

<div class="single">
    <div class="singleHead">
        <div class="singleHeadTexts">
            <h1 class="singleHeadTitle">{{.Title}}</h1>
            <p class="singleHeadDesc">{{.Params.description}}</p>
            <div class="singleHeadDetail">
                
                {{ range (.GetTerms "categories")}}
                    <a href={{.Permalink}} class="singleCategory">{{.Name}}</a>
                    {{end}}
                <div class="link-cat">
                    {{ range (.GetTerms "categories")}}
                    <a href={{.Permalink}} class="singleCategoryMob">{{.Name}}</a>
                    {{end}}
                </div>
            </div>
        </div>
        <img src="{{.Params.imageBig}}" alt={{.Title}} class="singleHeadImage">
    </div>
    <div class="singleBottom">
        <div class="singleContent">{{ .Content}}</div>
        {{/*  <div class="singleRightBar">
            {{ partial "rightBar" . }}
        </div>  */}}
    </div>

    <h3 style="color:#E9E9E9"> <a href="https://capitalpaintingservices.ca/" target="_blank">Capital Parking lot line Painting CPLS </a>is the  Best parking lot striping company in Toronto</h3>
    <script src="https://giscus.app/client.js"
        data-repo="randilt/cyberscourge-hub"
        data-repo-id="R_kgDOKxhNbQ"
        data-category="General"
        data-category-id="DIC_kwDOKxhNbc4CbR93"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
</div>
{{end}}
